.off-panel {
    display: none;
    z-index: 99;
    background: #fff;
    border-radius: 0 $border-radius $border-radius $border-radius;
    box-shadow: 1px 11px 15px $dark-gray;
    padding: $gap*2;
    // max-width: 260px; use inline-block instead

    &.open {
        display: inline-block;
    }
}

.setpos {
    position: absolute;
    top: 40px;
    left: 0px;
} 

@media screen and (max-width: 960px) {
    .setpos {
        left: 10px;
    }
}

.setpos-inner {
    max-width: 960px;
    margin: 0 auto;
}